<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <form th:action="@{/view/update/{name}(id=${edit.id})}" method="POST">
              
            <label>id</label>
            <input type="text" name="id" th:value="${edit.id}">
            <label>name</label>
            <input type="text" name="name" th:value="${edit.name}">
            <label>Dang lam</label>
            <input type="radio" name="status" value="1" th:checked="${edit.getStatus()==1}">
            <label>da nghi</label>
            <input type="radio" name="status" value="0" th:checked="${edit.getStatus()==0}">
            
            <div>
                <button>luu</button>
            </div>
        </form>
    </body>
</html>
